.mensaje{
    height: 200px;
    display: flex;
    justify-content: center;
    
    .p1{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

.mensaje1{
    height: 200px;
    display: flex;
    justify-content: center;
    .btn{        
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}