/* You can add global styles to this file, and also import other style files */
.fieldcontent {
    display: block;
    max-width: 97%;
    min-width: 30%;
    margin: 15px 0px;
    padding-bottom: 20px;
    /* padding-left: 0.75em;
    padding-right: 0.75em; */
    border-radius: 15px;
    border: solid 0.005rem rgb(167,167,167);
}

.fieldcontentTitle{
    color: black;
    padding: 10px 5px;
    width: auto;
    margin-left: 10px;
    font-family: 'Segoe UI';
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}